
h1{
    color: #242e49;
    font-size: x-large;
    font-family: 'Segoe UI';
    margin-top: 24px;
    font-weight: lighter;
}

h1 span {
    font-family: "Brush Script MT", cursive;
    letter-spacing: 2px;
}
navbar-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%; 
    max-width: 400px; 
    padding: 10px;
    z-index: 1000;
    backdrop-filter: blur(8px);
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.navbar-container nav {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
    flex-wrap: nowrap; 
}

.navbar-container .btn {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background: #10194e;   
    color:#055c9d;
    text-decoration: none;
    font-family: 'segoe UI';
}

.navbar-container button:hover {
    background: #071777;
}

.typing-effect {
    overflow: hidden;
    animation: typing 3s steps(30, end);
}

@keyframes typing {
    from { width: 600px; }
    to { width: 100%; }
}


body {   
    background-color: #060421;
    font-family: 'segoe UI';
}

.cv {
    margin-left: 16px;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    background: #10194e;   
    color:#055c9d;
    text-decoration: none;
    font-family: 'segoe UI';
}

a:hover {
    background: #071777;
}


h3 {
    font-size: x-large;
    color: #055c9d;
  }

ul {
    color: #055c9d;
    margin: 4px;
    padding: 4px;
}

.mypp {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 5px solid #071777;
}

p {
    color: #055c9d;
    font-family: 'segoe UI';
}
h2 {
    color: #68bbe3;
    font-family: 'segoe UI';
    text-align: right;
    margin-top: 56px;
    margin-bottom: 24px;
}

.conta p {
    padding: 0px;
    margin-left: 8px;
}
.card-cont {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 16px;
}

.card-projects{
    width: 325px;
    background-color: rgb(5, 5, 19);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0ox 0px 4px rgba(0,0,0.2);
    margin: 16px;
}

.card-projects img {
    width: 100%;
    height: 200px;
}

.card-content{
    color: #242e49;
    font-family: 'segoe UI';
    margin-left: 8px;
    margin-right: 8px;
    margin-top: -4px;
    margin-bottom: -4px;
}

.card-content .btn{
    display: inline-block;
    padding: 8px 16px;
    background-color: #10194e;
    text-decoration: none;
    border-radius: 8px;
    margin-bottom: 8px;
    color: #055c9d;
}
.btn:hover {
    background: #0026ff;
}

.myj {
    margin: 16px;
    padding: 16px;
}

.listings li {
    align-content: center;
    list-style: none;
    font-size: large;
    margin: 24px;
    padding: 0px;

}
